[Desktop Entry]
Type=Application
Version=1.0
Name=Install Arch Linux
GenericName=System Installer
Comment=Install Arch Linux to a disk
Icon=system-software-install
Exec=pkexec calamares
Terminal=false
Categories=System;
StartupNotify=true
