[Desktop Entry]
Type=Application
Exec=/usr/bin/calamares
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Calamares Installer
Comment=Graphical installer
